body {
    height: 100%;
    background-color: #ff9900;
  }

.cover-container {
    max-width: 42em;
    padding-top: 5rem;
  }

.card {
    border: 1px solid black;
    width: auto;
    margin: auto;
    box-sizing: border-box;
    padding: 0 10px;
  }

  .h1   {
      font-size: 10px;
  }

.parent {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 1 / 2 / 2 / 3; }
        .div3 { grid-area: 1 / 3 / 2 / 4; }
        .div4 { grid-area: 1 / 4 / 2 / 5; }
        .div5 { grid-area: 1 / 5 / 2 / 6; }    


    @media (min-width: 48em) {
        .parent {
          background-color: rgb(206, 20, 106)
          float; align-content: center;
          padding-bottom: 2rem
        }
      }