.parent { 
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    }

    .main { 
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr; 
        grid-column-gap: 1.5px;
        grid-row-gap: 1.5px; 
        }

        .main2 { 
            display: grid; 
            grid-template-columns: 1fr; 
            grid-template-rows: 1fr; 
            grid-column-gap: 1.5px;
            grid-row-gap: 1.5px; 
            }
            
/*
 * Footer
 */
 .mastfoot {
    color: rgba(255, 255, 255, .5);
  }
  